
/* beginning of my code */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

a {
    color: rgb(237, 109, 5);
    text-decoration: none;
}

.menu, .submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover, .item a:hover::after{
    color: #ccc;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 15px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button{
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item{
    display: block;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

.submenu {
    display: none;
}

.submenu-active .submenu{
    display: block;
}

.has-submenu i{
    font-size: 12px;
}

.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: rgb(55, 5, 237);
    padding-left: 5px;
}

.subitem a{
    padding: 10px 15px;
}

.submenu-active {
    background-color: rgb(189, 162, 162);
    border-radius: 3px;
}

.wrap-content {
    padding-top: 80px;
    float: right;
    width: 20%;
}


/*responsive */

/* responsive navabar tablet*/
@media all and (min-width: 700px){
    nav {
        position:fixed;
        top: 0;
        width: 100%;
    }
    .menu{
        justify-content: center;
    }

    .logo{
        flex: 1;
    }

    .item.button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }

    .menu li.button a{
        padding: 10px 15px;
        margin: 5px 0;
    }

    .button a{
        background: #0080ff;
        border: 1px royalblue solid;
    }

    .button.secondary{
        border: 0;
    }

    .button.secondary a{
        background: transparent;
        border: 1px #0080ff solid;
    }
  
    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }

}


@media all and (min-width: 960px){
    .menu{
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo{
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .button{
        order: 2;
    }

    .submenu-active .submenu{
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }

}

.wrapper {
    padding-top: 100px;
}

.wrapper h1{
    text-align: center;
    color: rgb(237, 109, 5);
}



/* end of header styling */

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


.form-container input[type=text]:focus, .form-container input [type=password]:focus{
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}





* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  float: left;
  margin: auto;
}

/* Caption text */
.text {
  color: #07f284;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/*content styling*/
.danger {
    color: red;
    text-align: center;
}
.content{
    box-sizing: border-box;
    float: left;
}


.content h2 {
color: green;
text-align: center;
text-transform: uppercase;
margin-top: 0px;
padding-top: 0px;
}

.content img {
    max-width: 100%;
    margin-top: 0px;
    padding-top: 1px;
}


.content p {
 font-size: 24px;
 padding-top: 0px;
 margin-top: 0px;
 margin-left: 20px;
 margin-right: 20px;
}


/*content page*/

.w3-padding-64 {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
  }

  .w3-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }

  .w3-border-dark-grey{
    border-color: #616161 !important;
  }

  .w3-center {
    text-align: center !important;
  }

  .w3-margin-bottom {
    margin-bottom: 16px !important;
  }

  .w3-card-4{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .w3-container:after,
  .w3-container:before {
    content: "";
    display: table;
    clear: both;

  }

.w3-container{
    padding: 0.01em 16px;
}

.w3-opacity{
    opacity: 0.6;
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }


  .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  .w3-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
  }

  .w3-button {
    white-space: normal;
  }

  .w3-button {
    width: 60%;
  }

  .w3-light-grey{
    color: #000 !important;
    background-color: #f1f1f1 !important;
  }

  .w3-block {
    display: block;
    width: 50%;
  }












/*footer*/


footer {
    width: calc(100%);
    padding: 40px 40px;
    background-color: #111;
    margin-top: 20px;
    overflow: hidden ;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
    
}

footer ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    line-height: 40px;

}


.footer-links-cases {
 display: none;
}



.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img{
    width: 100%;
    margin-bottom: 10px; 
}

@media only screen and (min-width: 1000px){
    .footer-links-cases {
        display: block;
       }

       footer ul li p{
        font-family: Catamaran;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        text-transform: uppercase;
    
    }

    footer ul {
        padding-right: 30px ;
    }
}